title=
date=
type=masterindex
status=published
~~~~~~

<div id="calContainer">
    <form name="calculator" id="calculator">
        <table>
            <tr>
                <td colspan="4">
                    <input type="text" value="" id="display" name="display">
                    <!-- <div id="history"></div> -->
                </td>
            </tr>
            <tr>
                <td><input type="button" value="c" id="clear" onclick="clearValues()"></td>
                <td><input type="button" value="d" id="delete" onclick="delet()"></td>
            </tr>
            <tr>
                <td><input type="button" name="seven" id="seven" value="7" onclick="buttonValues(this)"></td>
                <td><input type="button" name="eight" id="eight" value="8" onclick="buttonValues(this)"></td>
                <td><input type="button" name="nine" id="nine" value="9" onclick="buttonValues(this)"></td>
                <td><input type="button" name="division" id="div" value="/" onclick="devide()"></td>
            </tr>
            <tr>
                <td><input type="button" name="four" id="four" value="4" onclick="buttonValues(this)"></td>
                <td><input type="button" name="five" id="five" value="5" onclick="buttonValues(this)"></td>
                <td><input type="button" name="six" id="six" value="6" onclick="buttonValues(this)"></td>
                <td><input type="button" name="multiplication" id="mul" value="*" onclick="multiply()"></td>
            </tr>
            <tr>
                <td><input type="button" name="one" id="one" value="1" onclick="buttonValues(this)"></td>
                <td><input type="button" name="two" id="two" value="2" onclick="buttonValues(this)"></td>
                <td><input type="button" name="three" id="three" value="3" onclick="buttonValues(this)"></td>
                <td><input type="button" name="subtraction" id="sub" value="-" onclick="subtract()"></td>
            </tr>
            <tr>
                <td><input type="button" name="zero" id="zero" value="0" onclick="buttonValues(this)"></td>
                <td><input type="button" name="dot" id="dot" value="." onclick="buttonValues(this)"></td>
                <td><input type="button" name="addition" id="add" value="+" onclick="adding()"></td>
                <td><input type="button" name="equalsTo" id="equalsTo" value="=" onclick="calculate()">
                </td>
            </tr>
        </table>
    </form>
</div>