*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#calContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
    background-color: green;
}
form {
    padding: 20px;
    background-color: #222;
    border-radius: 20px;
}

input[type="text"] {
    height: 45px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #fff;
    color: #000;
    padding: 0 10px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}
#equalsTo{
    height: 70px;
    background-color: #e9c140;
    color: black;
}
#equalsTo:hover {
    background-color: blue;
    color: #fff;
    transition: 1s;
}
tr {
    line-height: 3.5em;
}
input[type="button"] {
    width: 80%;
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    border-radius: 20px;    
}
input[type="button"]:hover {
    cursor: pointer;
    background-color: blue;
    color: #fff;
    transition: 1s;
}
input#clear {
    background-color: red;
    color: #fff;
}
input#delete {
    background-color: #c53f3f;
    color: #fff;
}
#display{
    text-align: right;
    margin-bottom: 0;
}
#history {
    display: block;
    background-color: #ddd;
    height: 80px;
    padding: 0 11px;
    text-align: right;
    border-radius: 20px;
    margin-bottom: 16px;
}